@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
h1,
body,
h2,
h3,
h4,
h5,
h6,
table,
div,
tr,
video,
td,
th,
ol,
button,
p,
a,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  color: #eee;
  font-family: "Poppins";
}

.head {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 0;
  font-size: 12px;
  padding: 25px 30px;
  position: fixed;
  transition: all 0.2s linear;
}

.header__background {
  background-color: #330867;
}
header .logo {
  font-weight: bold;
  margin-top: 0;
  height: 40px;
  width: 40px;
}
header .menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
header .menu-items a {
  font-size: 18px;
  color: #eee;
  text-decoration: none;
}
header .menu-items .active {
  background-color: #eee;
  color: #020404;
  padding: 3px 5px;
  border-radius: 0.3rem;
}

.video__container video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 85%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header__container {
  position: absolute;
  left: 30px;
  bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title__container h1 {
  margin: 10px 0px;
  line-height: 1.5rem;
  line-height: 40px;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__paragraph-container .header__paragraph {
  width: 40%;
}

.header__paragraph p {
  font-size: 10px;
  line-height: 170%;
  color: #a0a0a0;
}

span {
  color: white;
  overflow: hidden;
  display: block;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
}

article {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article > p, article > section > p {
  font-size: 18px;
  margin-top: 15px;
}

img {
  width: 70%;
  margin-top: 30px;
}

.feedback {
  width: 90vw;
  margin: 0 auto;
  padding: 50px;
  margin-top: 30px;
  border-radius: 50px;
  background: #234555;
}

.offset-lg-1 > span {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feedback > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.feedback__slider {
  height: auto;
  transition: all 0.3s;
  position: relative;
}
.feedback__slider::before {
  content: "";
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: linear-gradient(180deg, #234555 41.72%, rgba(242, 246, 246, 0) 76.33%, rgba(242, 246, 246, 0) 76.33%);
}
.feedback__slider::after {
  content: "";
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: linear-gradient(1.27deg, #234555 32.89%, rgba(242, 246, 246, 0) 76.89%, rgba(242, 246, 246, 0) 76.89%);
}
.feedback__slider .swiper-button-prev,
.feedback__slider .swiper-button-next {
  top: initial;
  bottom: initial;
  left: 0;
  right: 0;
  width: 100%;
  height: 34px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
}
.feedback__slider .swiper-button-prev::before, .feedback__slider .swiper-button-prev::after,
.feedback__slider .swiper-button-next::before,
.feedback__slider .swiper-button-next::after {
  display: none;
  content: "";
}
.feedback__slider .swiper-button-prev {
  top: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_53_829)'%3E%3Cpath d='M17 26.7395L17 7.26033' stroke='%23007882' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.4375 16.823L17 7.2605L26.5625 16.823' stroke='%23007882' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_53_829'%3E%3Crect width='34' height='34' fill='white' transform='translate(0 34) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
}
.feedback__slider .swiper-button-next {
  bottom: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%0A%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_53_824)'%3E%3Cpath d='M17 7.2605L17 26.7397' stroke='%23007882' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.4375 17.177L17 26.7395L26.5625 17.177' stroke='%23007882' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_53_824'%3E%3Crect width='34' height='34' fill='white' transform='matrix(0 1 1 0 0 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
}

.swiper-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background: #007882;
  text-align: center;
}
.swiper-slide > img {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.swiper-slide > span {
  font-size: 18px;
  color: wheat;
  margin-bottom: 10px;
}
.offset-lg-1 > p {
  margin: 0 0 1em 0;
}
.swiper-slide > p:last-of-type {
  margin-bottom: 0;
}

.location {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 40px;
  background: linear-gradient(transparent, #234555);
  width: 90vw;
  padding-bottom: 60px;
}

.location > div:last-of-type > div > a {
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s linear;
}

.location > div:last-of-type > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.location > div:last-of-type > div > a:hover {
  color: brown;
}

.location > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location > div:last-of-type > p {
  position: relative;
  bottom: 70px;
}

iframe {
  width: 400px;
  height: 300px;
}

.location > div > p {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  color: white;
  background-color: black;
  padding: 50px 150px;
  position: relative;
  z-index: 3;
}

footer > div > p:last-of-type {
  text-align: center;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer > div:first-of-type {
  flex-direction: row;
  justify-content: center;
}
article > div > div
footer > div > div > img {
  width: 124px;
}


#cookie-popup {
  position: fixed;
  opacity: 0;
  z-index: 9999;
  left: 15%;
  transition: all 0.5s ease;
  bottom: -230px;
  align-items: center;
  right: 15%;
  border-radius: 17px;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #673167;
  color: #eee;
  display: flex;
  gap: 20px;
}

#cookie-popup p:first-child {
  margin: 0;
  font-weight: 400;
  color: #B9C5E1;
}

#cookie-popup p:nth-child(2) {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 25px;
}

#cookie-popup .link {
  color: rgb(0, 174, 139);
  position: relative;
  text-decoration: none;
}

#cookie-popup .link::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 5px;
  background-color: rgb(0, 174, 139);
  transition: all 0.2s ease-in-out;
  height: 1px;
  width: 0px;
}

#cookie-popup .link:hover::before {
  width: 75px;
}

#cookie-popup > div {
  display: flex;
  gap: 10px;
}

.cookie-popup__button {
  cursor: pointer;
}

#cookie-popup button {
  font-size: 16px;
  margin-right: 0;
  font-weight: 400;
  padding: 8px 12px;
  white-space: nowrap;
  display: inline-block;
  height: 52px;
  color: #fff;
  transition: all 0.3s ease;
  background-color: transparent;
  border-radius: 27px;
  border: 1px solid rgb(60, 204, 135);
}

#cookie-popup button:hover {
  background-color: rgb(60, 204, 135);;  
}

.decline-button {
  border: none !important;
  background-color: transparent !important;
}

ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

ul li {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Bruno Ace SC', cursive;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.6);
  cursor: pointer;
}

ul li .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

ul li:nth-child(1) .hover-text {
  color: #FF3D00;
  border-right: 6px solid #FF3D00;
  -webkit-text-stroke: 1px #FF3D00;
}

ul li:nth-child(2) .hover-text {
  color: #304FFE;
  border-right: 6px solid #304FFE;
  -webkit-text-stroke: 1px  #304FFE;
}

ul li:nth-child(3) .hover-text {
  color:  #FFD740;
  border-right: 6px solid #FFD740;
  -webkit-text-stroke: 1px #FFD740;
}

ul li:hover .hover-text {
  width: 100%;
}

ul li:nth-child(1):hover .hover-text {
  filter: drop-shadow(0 0 25px #FF3D00)
}

ul li:nth-child(2):hover .hover-text {
  filter: drop-shadow(0 0 25px #304FFE)
}

ul li:nth-child(3):hover .hover-text {
  filter: drop-shadow(0 0 25px #FFD740)
}

@media (max-width: 910px) {
  .location {
    justify-content: space-between;
  }

  iframe {
    width: 280px;
    height: 240px;
  }

  .location > div:last-of-type > p {
    bottom: 45px;
  }
}

@media (max-width: 720px) {
  img {
    width: 90%;
    margin-top: 30px;
  }

  ul {
    list-style-type: none;
    gap: 12px;
  }

  ul li {
    font-size: 12px;
  }

  .feedback {
    padding: 25px;
  }

  .offset-lg-1 > span {
    font-size: 36px;
    text-align: center;
  }

  .location {
    padding: 20px 10px;
    flex-direction: column;
  }

  .location > div:last-of-type > div > a {
    letter-spacing: -0.5px;
    font-size: 17px;
  }

  .location > div:last-of-type > p {
    bottom: 10px;
  }

  iframe {
    width: 100%;
    height: 240px;
  }

  #cookie-popup {
    max-width: 95%;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: 0 auto;
  }

  #cookie-popup {
    flex-direction: column;
  }

  header {
    gap: 12px;
    padding: 30px 10px;
  }

  li::marker {
    display: none;
  }
}